<article class="ArticleItem" {% if block %}{{ block.shopify_attributes }}{% endif %}>
	{%- if article.image != blank -%}
		{%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: article.image -%}{%- endcapture -%}
		{%- assign image_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
	
		{%- assign media_aspect_ratio = article.image.aspect_ratio -%}

		<a class="ArticleItem__ImageWrapper AspectRatio AspectRatio--withFallback" style="background: url({{ article.image | img_url: '1x1', format: 'jpg' }}); padding-bottom: {{ 100.0 | divided_by: media_aspect_ratio }}%; --aspect-ratio: {{ media_aspect_ratio }}" href="{{ article.url }}">
			<img class="ArticleItem__Image Image--lazyLoad Image--fadeIn"
				data-src="{{ image_url }}"
				data-widths="[{{ supported_sizes }}]"
				data-sizes="auto"
				alt="{{ article.image.alt | escape }}">

			<noscript>
				<img class="ArticleItem__Image" src="{{ article.image | img_url: '600x' }}" alt="{{ article.image.alt | escape }}">
			</noscript>
		</a>
	{%- endif -%}

	<div class="ArticleItem__Content">
		<h2 class="ArticleItem__Title Heading u-h5">
			<a href="{{ article.url }}">{{ article.title }}</a>
		</h2>

	    {%- unless template.name == 'article' -%}
			{%- if section.settings.show_exerpt or block.settings.show_exerpt -%}
				<p class="ArticleItem__Excerpt Heading"><em>{{ article.excerpt_or_content | strip_html | truncate: 150 }}</em></p>
			{%- endif -%}
			<a href="{{ article.url }}" class="ArticleItem__Link Link Link--underline">{{ 'blog.article.read_more' | t }}</a>
	    {%- endunless -%}
	
		{%- if section.settings.show_category or block.settings.show_category -%}
			<span class="ArticleItem__Category Text--highlight {% if hide_category_mobile %}hidden-pocket{% endif %}">{{ article.tags.first }}</span>
		{%- endif -%}
	</div>
</article>