{%- if section.settings.tabbed_content -%}
	{%- assign tabbedContentHeader = '' -%}
	{%- assign tabbed_content_index = 0 -%}
	{%- assign newTabbedContent = false -%}
	{{ 'component-tabbed-content.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- capture accordion_content -%}
	{%- for block in section.blocks -%}
	
		{%- assign separator_title = block.settings.separator_title | strip_html -%}
		
		{%- if separator_title != blank -%}
			
			{%- assign tabbed_content_index = tabbed_content_index | plus: 1 -%}
			{%- assign newTabbedContent = true -%}
			
			{%- capture accordionHeader -%}
	            <div class="Accordion__Section Heading Heading--caps Heading--textFont u-h6 {% if section.settings.tabbed_content %}TabbedHeaderItem{% endif %} {% if tabbed_content_index == 1 %}is-active{% endif %}" {% if section.settings.tabbed_content %}data-action="toggle-content" data-toggle-id="{{ section.id }}-tabbed-content-{{ tabbed_content_index }}"{% endif %}>
					{{ block.settings.separator_title }}
					
					{%- capture accordionHeaderImage -%}
			  			{%- if block.settings.image != blank -%}
			  				{%- assign media = block.settings.image -%}
			  				{%- assign max_width = media.width -%}
			  		        {%- assign media_aspect_ratio = media.aspect_ratio -%}

			  		        <div class="AspectRatio AspectRatio--withFallback Accordion__ImageWrapper" style="max-width: {{ max_width }}px; padding-bottom: {{ 100.0 | divided_by: media_aspect_ratio }}%; --aspect-ratio: {{ media_aspect_ratio }}">
			  		          {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,700,800,900,1000,1200', image: media -%}{%- endcapture -%}
			  		          {%- assign image_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

			  		          <img class="Image--lazyLoad Image--fadeIn" data-src="{{ image_url }}" data-widths="[{{ supported_sizes }}]" data-sizes="auto" alt="{{ media.alt | escape }}">
			  		          <span class="Image__Loader"></span>

			  		          <noscript>
			  		            <img src="{{ media | img_url: '600x' }}" alt="{{ media.alt | escape }}">
			  		          </noscript>
			  		        </div>
			  			{%- endif -%}
					{%- endcapture -%}
					
					{%- unless section.settings.tabbed_content -%}
						{{ accordionHeaderImage }}
					{%- endunless -%}
					
	            </div>
			{%- endcapture -%}
			
			{%- if section.settings.tabbed_content -%}
				{%- assign tabbedContentHeader = tabbedContentHeader | append: accordionHeader -%}
			{%- else -%}
				{{ accordionHeader }}
			{%- endif -%}
			
		{%- else -%}
			{%- assign title = block.settings.title | strip_html -%}
			{%- assign content = block.settings.content | strip_html -%}
			
			{%- if section.settings.tabbed_content -%}
				{%- if newTabbedContent and tabbed_content_index > 1 or forloop.last -%}
					</div>
				{%- endif -%}
			
				{%- if newTabbedContent -%}
					<div id="{{ section.id }}-tabbed-content-{{ tabbed_content_index }}" class="TabbedContentItem {% if tabbed_content_index == 1 %}is-active{% endif %}">
						{{ accordionHeaderImage }}
						{%- assign accordionHeaderImage = '' -%}
						{%- assign newTabbedContent = false -%}
				{%- endif -%}
			{%- endif -%}
			
			{%- if title != blank and content != blank -%}
	            <div class="Collapsible" {{ block.shopify_attributes }}>
	              <button class="Collapsible__Button Heading u-h4" data-action="toggle-collapsible" aria-expanded="false">
	                {{ block.settings.title }} <span class="Collapsible__Plus"></span>
	              </button>

	              <div class="Collapsible__Inner">
	                <div class="Collapsible__Content Collapsible__Content--removeInset">
	                  <div class="Rte">
	                    {{ block.settings.content }}
	                  </div>
	                </div>
	              </div>
	            </div>
			{%- endif -%}
		{%- endif -%}	
	{%- endfor -%}
{%- endcapture -%}

{%- capture text_content -%}
	{%- if section.settings.subheading != blank -%}
		<h3 class="SectionHeader__SubHeading Heading Heading--caps Heading--textFont u-h6"><span>{{ section.settings.subheading }}</span></h3>
	{%- endif -%}

	{%- if section.settings.title != blank -%}
		<h2 class="SectionHeader__Heading Heading u-h3"><span>{{ section.settings.title }}</span></h2>
	{%- endif -%}

	{%- if section.settings.description != blank -%}
		<div class="SectionHeader__Description SectionHeader__Description--primary Rte">
			{{ section.settings.description }}
		</div>
	{%- endif -%}

	{%- if section.settings.button_1_text != blank and section.settings.button_2_text != blank -%}
		{%- assign has_two_buttons = true -%}
	{%- else -%}
		{%- assign has_two_buttons = false -%}
	{%- endif -%}

	{%- if section.settings.button_1_text != blank or section.settings.button_2_text != blank -%}
		<div class="SectionHeader__ButtonWrapper">
			<div class="ButtonGroup ButtonGroup--spacingSmall {% if has_two_buttons %}ButtonGroup--sameSize{% endif %}">
				{%- if section.settings.button_1_text != blank -%}
					<a href="{{ section.settings.button_1_link }}" class="ButtonGroup__Item {% if section.settings.button_style == 'underline' %}Link Link--underline{% else %}Button Button--{{ section.settings.button_style }}{% endif %}">{{ section.settings.button_1_text | escape }}</a>
				{%- endif -%}

				{%- if block.settings.button_2_text != blank -%}
					<a href="{{ section.settings.button_2_link }}" class="ButtonGroup__Item {% if section.settings.button_style == 'underline' %}Link Link--underline{% else %}Button Button--{{ section.settings.button_style }}{% endif %}">{{ section.settings.button_2_text | escape }}</a>
				{%- endif -%}
			</div>
		</div>
	{%- endif -%}
{%- endcapture -%}

{%- if accordion_content != blank -%}
	{{ 'section-accordion.css' | asset_url | stylesheet_tag }}
	
	{%- capture section_settings -%}
	{
	  "tabbedContent": {% if section.settings.tabbed_content %}true{% else %}false{% endif %}
	}
	{%- endcapture -%}
	
	<section class="Section Section--spacingExtraLarge" data-section-type="accordion" data-section-id="{{ section.id }}" data-section-settings='{{ section_settings }}'>
		<div class="Container">
			<div class="Grid">
				<div class="Grid__Cell 3/16--lap-and-up"></div>
				<div class="Grid__Cell 10/16--lap-and-up">
					{{ text_content }}
					
					{%- if section.settings.tabbed_content -%}
						{%- if tabbedContentHeader != blank -%}
							<div class="TabbedHeader">
								{{ tabbedContentHeader }}
							</div>
						{%- endif -%}
						<div class="TabbedContent">
							{{ accordion_content }}
						</div>
					{%- else -%}
						{{ accordion_content }}
					{%- endif -%}
					
				</div>
				<div class="Grid__Cell 3/16--lap-and-up"></div>
			</div>
		</div>
	</section>
{%- endif -%}

{% schema %}
{
  "name": "Accordion",
  "settings": [
    {
      "type": "checkbox",
      "id": "tabbed_content",
      "label": "display headers as tabs",
      "default": false
    },
	{
      "type": "header",
      "content": "Text"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Title image",
      "info": "1800 x 800px .jpg recommended"
    },
    {
      "type": "richtext",
      "id": "subheading",
      "label": "Sub-heading",
      "default": "<p>Sub-heading</p>"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Heading",
      "default": "<p>Heading</p>"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
	{
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "top",
      "info": "Sets the text and button position."
    },
	{
      "type": "select",
      "id": "colour_style",
      "label": "Colour style",
      "options": [
        {
          "value": "light",
          "label": "Light"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "dark",
      "info": "Sets the text and button colour."
    },
    {
      "type": "header",
      "content": "Button 1"
    },
    {
      "type": "text",
      "id": "button_1_text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "button_1_link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Button 2"
    },
    {
      "type": "text",
      "id": "button_2_text",
      "label": "Text"
    },
    {
      "type": "url",
      "id": "button_2_link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "underline",
          "label": "Text underline"
        },
        {
          "value": "secondary",
          "label": "Secondary Button"
        },
        {
          "value": "primary",
          "label": "Primary Button"
        }
      ],
      "default": "underline",
      "info": "Sets the style for the button."
    }
  ],
  "blocks": [
    {
      "type": "accordion",
      "name": "Accordion",
      "settings": [
		{
          "type": "paragraph",
          "content": "If using separator content, title and content are ignored."
        },
	    {
	      "type": "header",
	      "content": "Separator"
	    },
		{
          "type": "richtext",
          "id": "separator_title",
          "label": "Separator title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Separator image",
          "info": "1800 x 800px .jpg recommended"
        },
	    {
	      "type": "header",
	      "content": "Standard Content"
	    },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Content",
      "name": "Accordion",
      "settings": {}
    }
  ]
}
{% endschema %}