{%- assign recently_viewed_block = section.blocks | where: 'type', 'recently' | first -%}
{%- assign tabsCount = 0 -%}
{%- assign activeTabHeaderSet = false -%}

{%- capture section_media -%} 
	{%- for block in section.blocks -%}
		{%- capture blockTypeStyling -%}
			{%- if block.type == 'product' -%}
				{%- assign content = product.media -%}
				{{ 'component-product-item.css' | asset_url | stylesheet_tag }}
			{%- endif -%}
		{%- endcapture -%}
		
		{%- capture slider_content -%}
			{%- assign item_count = 0 -%}
			{%- for media in content limit: section.settings.grid_items_count -%}

				{% liquid
					assign collection_target = collections[product.metafields.custom.collection_handle]
					assign banner = collection_target.metafields.custom.product_banner.value

					unless banner 
						if forloop.first 
							continue
						endif
					endunless
				%}
				<div class="Carousel__Cell">
					{%- 
            render 'image-item', 
            media: media, 
          -%}
				</div>
				{%- assign item_count = item_count | plus: 1 -%}
			{%- endfor -%}
			
		
		{%- endcapture -%}

		{%- if slider_content != blank -%}
			{%- capture flickity_options -%}
			  {
			    "prevNextButtons": true,
			    "pageDots": false,
			    "wrapAround": false,
			    "contain": true,
			    "cellAlign": "center",
			    "watchCSS": true,
			    "dragThreshold": 8,
			    "groupCells": true,
			    "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
			  }
			{%- endcapture -%}
			
			{{ blockTypeStyling }}
			
			<div class="TabPanel" id="block-{{ block.id }}" aria-hidden="{% if tabsCount == 0 and block.type != 'recently' %}false{% else %}true{% endif %}" role="tabpanel" {{ block.shopify_attributes }} data-block-type="{{ block.type }}">	
				<div class="ImageContentSlider__SliderWrapper">
					<div class="Carousel--scroll ContentList ContentList--carousel Carousel" data-flickity-config='{{ flickity_options }}' data-block-id="slideshow_{{ block.id }}">
						{{ slider_content }}
					</div>
					{% comment %} <div class="Content__SlideshowNav {% if section.settings.enable_natual_scroll %}Content__SlideshowNav--scroller{% endif %}" id="slideshow_{{ block.id }}">
						<div class="flickity-page-dots flickity-page-slider hidden-lap-and-up">
										{%- assign itemCountDivided = item_count | divided_by: 2.00 | ceil -%}
							{%- if section.settings.enable_natual_scroll -%}
												<button type="button" style="--item-count: {{itemCountDivided}};" aria-label="Slide to image" class="slider is-selected"></button>
							{%- else -%}
												{%- for i in (1..itemCountDivided) -%}
													<button type="button" aria-label="{{ 'product.slideshow.go_to_image' | t: i: i | escape }}" class="slider {% if forloop.index0 == 0 %}is-selected{% endif %}" data-index="{{ forloop.index0 }}"></button>
												{%- endfor -%}
							{%- endif -%}
						</div>
						<div class="flickity-page-dots flickity-page-slider hidden-pocket">
							{%- assign itemCountDivided = item_count | divided_by: 3.00 | ceil -%}
							{%- if section.settings.enable_natual_scroll -%}
								<button type="button" style="--item-count: {{itemCountDivided}};" aria-label="Slide to image" class="slider is-selected"></button>
							{%- else -%}
								{%- for i in (1..itemCountDivided) -%}
									<button type="button" aria-label="{{ 'product.slideshow.go_to_image' | t: i: i | escape }}" class="slider {% if forloop.index0 == 0 %}is-selected{% endif %}" data-index="{{ forloop.index0 }}"></button>
								{%- endfor -%}
							{%- endif -%}
						</div>
					</div>	 {% endcomment %}
				</div>
			</div>
			
				{%- capture tabHeader -%}
					<button class="Heading Heading--caps Heading--textFont u-h6 TabList__Item {% unless activeTabHeaderSet %}is-active{% endunless %}" data-action="toggle-tab" aria-controls="block-{{ block.id }}" aria-selected="{% if activeTabHeaderSet == false %}true{% else %}false{% endif %}" role="tab">
						
					</button>
			  {%- assign activeTabHeaderSet = true -%}
  	        {%- endcapture -%}
			
			{%- assign tabHeaderHtml = tabHeaderHtml | append: tabHeader -%}
			{%- assign tabsCount = tabsCount | plus: 1 -%}
			
		{%- endif -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture section_settings -%}
{
  "enable_natual_scroll": {{ section.settings.enable_natual_scroll | json }},
  "productId": {% if template.name == 'product' %}{{ product.id }}{% else %}null{% endif %},
  "tabs_count": {{ tabsCount }},
  
}

{% comment %} "enableImageZoom": {{ section.settings.enable_image_zoom | json }}, {% endcomment %}
{%- endcapture -%}


<section 
	class="Section {% if section.settings.enable_light %}Section--lightBackground{% endif %}" 
	data-section-id="{{ section.id }}" 
	data-section-type="content-slider" 
	style="--horizontal-spacing-four-products-per-row: 10px; margin-top: -50px"
	data-section-settings='{{ section_settings }}'>
	<div class="ImageContentSlider Grid">
		<div class="Grid__Cell 16/16--lap-and-up TabPanelWrapper">
			{% comment %} {% if section.settings.enable_image_zoom %}
				<div class="Product__ActionItem hidden-lap-and-up">
					<button class="RoundButton RoundButton--small RoundButton--flat" aria-label="{{ 'product.slideshow.zoom' | t | escape }}" data-action="open-product-zoom">{% render 'icon' with 'plus' %}</button>
				</div>
			{% endif %} {% endcomment %}
			{{ section_media }}
		</div>
	</div>
	
	{% if product.media.size < 4 %}
        <style>
			#shopify-section-{{ section.id }} {
				display: none;
			}
        </style>
	{% endif %}
</section>

{% comment %} {%- if section.settings.enable_image_zoom -%}
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- Background of PhotoSwipe -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

      <!-- Container that holds slides. Do not remove as content is dynamically added -->
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>

      <!-- Main UI bar -->
      <div class="pswp__ui pswp__ui--hidden">
        <button class="pswp__button pswp__button--prev RoundButton" data-animate-left title="{{ 'product.slideshow.previous' | t }}">{% render 'icon' with 'arrow-left' %}</button>
        <button class="pswp__button pswp__button--close RoundButton RoundButton--large" data-animate-bottom title="{{ 'product.slideshow.close' | t }}">{% render 'icon' with 'close' %}</button>
        <button class="pswp__button pswp__button--next RoundButton" data-animate-right title="{{ 'product.slideshow.next' | t }}">{% render 'icon' with 'arrow-right' %}</button>
      </div>
    </div>
  </div>
{%- endif -%} {% endcomment %}

{% comment %} <script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)};
  ShopifyXR('addModels', {{ product.media | where: 'media_type', 'model' | json }});
</script> {% endcomment %}

{% schema %}
{
  "name": "Image Content slider",
  "max_blocks": 1,
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
	    	{
					"type": "paragraph",
					"content": "Pulls in images from the Product except the first image"
				}
	  	]
		}
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_light",
      "label": "Enable light background",
      "default": false
    },
    {
      "type": "range",
      "id": "grid_items_count",
      "min": 2,
      "max": 50,
      "step": 1,
      "label": "Items to show",
      "default": 6
    },
    {
      "type": "checkbox",
      "id": "enable_natual_scroll",
      "label": "Enable natural scroll",
      "default": true
    },
		// {
    //   "type": "checkbox",
    //   "id": "enable_image_zoom",
    //   "label": "Enable zoom",
    //   "default": true
    // }
  ],
  "presets": [
    {
      "name": "Image Content slider",
      "settings": {}
    }
  ]
}
{% endschema %}