<section data-section-id="login" data-section-type="login">
	<div class="Container">
		<div class="PageContent PageContent--fitScreen">
			{%- assign is_recover_active = false -%}

			{%- form 'recover_customer_password' -%}
				{%- if form.errors or form.posted_successfully? -%}
					{%- assign is_recover_active = true -%}
				{%- endif -%}
			{%- endform -%}

			{%- if is_recover_active -%}
				{%- assign login_default_visibility = 'display: none' -%}
			{%- else -%}
				{%- assign login_default_visibility = 'display: block' -%}
			{%- endif -%}
			
			<div id="customer_login" style="{{ login_default_visibility }};">
				<div class="Grid" >
					<div class="Grid__Cell 2/16--lap-and-up"></div>
					<div class="Grid__Cell 12/16--lap-and-up">
						<div class="Grid">
							<div class="Grid__Cell 1/3--desk-and-up">
								{%- form 'customer_login', name: 'login', class: 'Form Form--spacingTight' -%}
									<input type="hidden" name="return_to" value="/account">
									<header class="Form__Header">
										<h3 class="Form__Title Heading Heading--caps Heading--textFont u-h6"><span><strong>Account</strong></span></h3>
										<h1 class="Form__Title Heading u-h3">
					  					  {%- assign titleArray = 'customer.login.title' | t | split: ' ' -%}
					  					  <span>
					  						  {%- for word in titleArray -%}
					  						  	{%- if forloop.last -%}
					  								<em>{{ word }}</em>
					  							{%- else -%}	
					  								{{ word | append: ' ' }}
					  							{%- endif -%}
					  						  {%- endfor -%}
					  					  </span>
										</h1>
										<p class="Form__Legend">{{ 'customer.login.description' | t }}</p>
									</header>

									{%- if form.errors -%}
										<p class="Form__Alert Alert Alert--error">
											{{- form.errors.messages['form'] -}}
										</p>
									{%- endif -%}

									<div class="Form__Item">
										<input type="email" class="Form__Input" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
										<label class="Form__FloatingLabel">{{ 'customer.login.email' | t }}</label>
									</div>

									<div class="Form__Item">
										<input type="password" class="Form__Input" name="customer[password]" required="required" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}">
										<label class="Form__FloatingLabel">{{ 'customer.login.password' | t }}</label>
									</div>
						
									<button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.login.submit' | t }}</button>

									<div class="Form__Hint Form__Hint--right">
										<button type="button" class="Link Link--underline Link--primary" data-action="toggle-recover-form">{{ 'customer.login.forgot' | t }}</button>
									</div>
								{%- endform -%}
							</div>
							<div class="Grid__Cell Grid__Cell--spacer hidden-pocket hidden-lap 1/3--desk-and-up"></div>
							<div class="Grid__Cell 1/3--desk-and-up">
						        {%- form 'create_customer', name: 'create_customer', class: 'Form Form--spacingTight', id: 'create_customer' -%}
									<input type="hidden" name="return_to" value="/account">
									<header class="Form__Header">
										<h3 class="Form__Title Heading Heading--caps Heading--textFont u-h6"><span><strong>New User</strong></span></h3>
										<h1 class="Form__Title Heading u-h3">
  					  					  {%- assign titleArray = 'customer.register.title' | t | split: ' ' -%}
  					  					  <span>
  					  						  {%- for word in titleArray -%}
  					  						  	{%- if forloop.last -%}
  					  								<em>{{ word }}</em>
  					  							{%- else -%}	
  					  								{{ word | append: ' ' }}
  					  							{%- endif -%}
  					  						  {%- endfor -%}
  					  					  </span>
										</h1>
										<p class="Form__Legend">{{ 'customer.register.description' | t }}</p>
									</header>

									{%- if form.errors -%}
										<div class="Form__Alert Alert Alert--error">
											<ul class="Alert__ErrorList">
												{%- for field in form.errors -%}
													{%- if field == 'form' -%}
														<li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
													{%- else -%}
														<li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
													{%- endif -%}
												{%- endfor -%}
											</ul>
										</div>
									{%- endif -%}

									<div class="Form__Item">
										<input type="text" class="Form__Input" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
										<label class="Form__FloatingLabel">{{ 'customer.register.first_name' | t }}</label>
									</div>

									<div class="Form__Item">
										<input type="text" class="Form__Input" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
										<label class="Form__FloatingLabel">{{ 'customer.register.last_name' | t }}</label>
									</div>

									<div class="Form__Item">
										<input type="email" class="Form__Input" name="customer[email]" aria-label="{{ 'customer.register.email' | t }}" placeholder="{{ 'customer.register.email' | t }}" required="required">
										<label class="Form__FloatingLabel">{{ 'customer.register.email' | t }}</label>
									</div>

									<div class="Form__Item">
										<input type="password" class="Form__Input" name="customer[password]" aria-label="{{ 'customer.register.password' | t }}" placeholder="{{ 'customer.register.password' | t }}" required="required">
										<label class="Form__FloatingLabel">{{ 'customer.register.password' | t }}</label>
									</div>
									
									<div class="Form__Item">
				  						<div class="Form__CheckboxWrapper">
				  							<input type="hidden" name="customer[accepts_marketing]" value="false" />
				  							<input type="checkbox" aria-label="Newsletter Subscribe" class="Form__Checkbox" name="customer[accepts_marketing]" id="create_customer_subscribe" value="true" checked>
				  							{% render 'icon' with 'checkmark' %}
				  							<label for="create_customer_subscribe">I agree to the terms & conditions and to receive promotional emails.</label>
				  						</div>
									</div>

									<button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.register.submit' | t }}</button>
								{%- endform -%}
							</div>
						</div>
					</div>
					<div class="Grid__Cell 2/16--lap-and-up"></div>
				</div>
			</div>
	  
			{%- if is_recover_active -%}
				{%- assign recover_default_visibility = 'display: block' -%}
			{%- else -%}
				{%- assign recover_default_visibility = 'display: none' -%}
			{%- endif -%}
			
			<div id="recover_customer_password" style="{{ recover_default_visibility }};">
				<div class="Grid" >
					<div class="Grid__Cell 2/16--lap-and-up"></div>
					<div class="Grid__Cell 12/16--lap-and-up">
						<div class="Grid">
							<div class="Grid__Cell 1/3--desk-and-up">
							</div>
							<div class="Grid__Cell 1/3--desk-and-up">
								{%- form 'recover_customer_password', name: 'recover', class: 'Form Form--spacingTight' -%}
									<header class="Form__Header">
										<h3 class="Form__Title Heading Heading--caps Heading--textFont u-h6"><span><strong>Account</strong></span></h3>
										<h1 class="Form__Title Heading u-h3">
    					  					  {%- assign titleArray = 'customer.recover_password.title' | t | split: ' ' -%}
    					  					  <span>
    					  						  {%- for word in titleArray -%}
    					  						  	{%- if forloop.last -%}
    					  								<em>{{ word }}</em>
    					  							{%- else -%}	
    					  								{{ word | append: ' ' }}
    					  							{%- endif -%}
    					  						  {%- endfor -%}
    					  					  </span>
										</h1>

										{%- unless form.posted_successfully? -%}
											<p class="Form__Legend">{{ 'customer.recover_password.description' | t }}</p>
										{%- endunless -%}
									</header>

									{%- if form.errors -%}
										<p class="Form__Alert Alert Alert--error">
											{{- form.errors.messages['form'] -}}
										</p>
									{%- endif -%}

									{%- if form.posted_successfully? -%}
										<p class="Form__Alert Alert Alert--success">
											{{- 'customer.recover_password.success' | t -}}
										</p>
									{%- endif -%}

									<div class="Form__Item">
										<input type="email" class="Form__Input" name="email" required="required" placeholder="{{ 'customer.recover_password.email' | t }}" aria-label="{{ 'customer.recover_password.email' | t }}" autofocus>
										<label class="Form__FloatingLabel">{{ 'customer.recover_password.email' | t }}</label>
									</div>

									<button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'customer.recover_password.submit' | t }}</button>

									<div class="Form__Hint Form__Hint--right">
										<button type="button" class="Link Link--underline Link--primary" data-action="toggle-recover-form">{{ 'customer.recover_password.login_link' | t }}</button>
									</div>
								{%- endform -%}
							</div>
							<div class="Grid__Cell 1/3--desk-and-up">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% schema %}
{
  "name": "Customer login"
}
{% endschema %}