{{ 'component-article-item.css' | asset_url | stylesheet_tag }}

<div id="section-{{ section.id }}" class="Section" data-section-id="{{ section.id }}" data-section-type="article-list">
  {%- if blog.articles_count == 0 -%}
    <div class="EmptyState">
      <div class="Container">
        <h1 class="EmptyState__Title Heading u-h5">{{ 'blog.general.no_articles' | t: blog_title: blog.title }}</h1>
        <a href="{{ routes.root_url }}" class="EmptyState__Action Button Button--primary">{{ 'blog.general.empty_button' | t }}</a>
      </div>
    </div>
  {%- else -%}
  
	{%- capture blogBanner -%}
		{%- if blog.metafields.custom.large_tile_1_media != blank and blog.metafields.custom.large_tile_text != blank -%}
			<div class="Grid__Cell 1/1 BlogFeaturedBanner">
				<div class="Grid Grid--middle">
					<div class="Grid__Cell 1/16"></div>
					<div class="Grid__Cell 14/16--pocket 7/16--lap-and-up">
						{%- assign media = blog.metafields.custom.large_tile_1_media.value -%}
						<div class="AspectRatio AspectRatio--withFallback" style="padding-bottom: {{ 100.0 | divided_by: media.aspect_ratio }}%; --aspect-ratio: {{ media.aspect_ratio }}; max-width: {{ media.width }}px;">
							{% assign image_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
					        {%- capture supported_sizes -%}{%- render 'image-size', sizes: '200,400,600,800,1000,1200,1400,1600,1800,2000', image: media -%}{%- endcapture -%}
			
							<img class="Image--lazyLoad hide-no-js"
								data-src="{{ image_url }}"
								data-optimumx="1.2"
								data-widths="[{{ supported_sizes }}]"
								data-sizes="auto"
								alt="{{ media.alt | escape }}">

							<noscript>
								<img src="{{ media | img_url: '1000x' }}" alt="{{ media.alt | escape }}">
							</noscript>
						</div>
					</div>
					<div class="Grid__Cell 1/16"></div>
					<div class="Grid__Cell 1/16 hidden-lap-and-up"></div>
					<div class="Grid__Cell 14/16--pocket 4/16--lap-and-up">
						{%- if blog.metafields.custom.large_tile_text != blank -%}
							<h2 class="Heading u-h2"><span>{{ blog.metafields.custom.large_tile_text | metafield_tag }}</span></h2>
						{%- endif -%}
					</div>
				</div>
			</div>
		{%- endif -%}
	{%- endcapture -%}
  
    <div class="Blog">
      <div class="Container">
        <header class="PageHeader">
          <div class="SectionHeader SectionHeader--center">
            
			{%- if section.settings.show_tags and blog.all_tags.size > 0 -%}
              <ul class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
                <li class="HorizontalList__Item">
                  <a href="/blogs/{{ blog.handle }}" class="Heading Heading--caps Heading--textFont u-h6 {% if current_tags == blank %}is-active{% endif %}"><strong>{{ 'blog.general.all_tag' | t }}</strong></a>
                </li>

                {%- for tag in blog.all_tags -%}
                  <li class="HorizontalList__Item">
                    <a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handle }}" class="Heading Heading--caps Heading--textFont u-h6 {% if current_tags contains tag %}is-active{% endif %}"><strong>{{ tag }}</strong></a>
                  </li>
                {%- endfor -%}
              </ul>
            {%- endif -%}
			
			{%- if section.settings.show_metafield_tags and blog.metafields.custom.toggle != blank -%}
				{% assign metaobject = blog.metafields.custom.toggle.value %}
								
				{%- if metaobject != blank -%}
	                <ul class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
	                  {%- for tag in metaobject -%}
	                    <li class="HorizontalList__Item">
	                      <a href="{{ tag.url }}" class="Heading Heading--caps Heading--textFont u-h6 {% if tag.url.value contains blog.url %}is-active{% endif %}"><strong>{{ tag.title }}</strong></a>
	                    </li>
	                  {%- endfor -%}
	                </ul>
				{%- endif -%}
				
            {%- endif -%}
          </div>
        </header>

		{%- assign articles_per_page = 23 -%}

        {%- paginate blog.articles by articles_per_page -%}
          <div class="ArticleListWrapper">
            <div class="ArticleList {% if is_first_article_featured %}ArticleList--withFeatured{% endif %} Grid">
	  		  {%- assign desktop_items_per_row = 3 -%}
			  {%- assign tablet_items_per_row = 3 -%}
	  		  {%- assign mobile_items_per_row  = 2 -%}
				
	  		  {%- assign disruptorTilePositions = section.settings.disruptor_tile_positions | split: ',' -%}
	   		  {%- assign phoneWidth = '1/' | append: mobile_items_per_row -%}
	   		  {%- assign tabletWidth = '1/' | append: tablet_items_per_row -%}
	   		  {%- assign deskWidth = '1/' | append: desktop_items_per_row -%}
		  
	  		  {%- assign parentForLoopIndex = paginate.current_offset | plus: 1 -%}
	  		  {%- assign parentForLoopIndexString = parentForLoopIndex | append: '' | strip -%}
			  
			  {%- if request.path contains '/tagged/' -%}
			  	{%- assign metaNamespace = 'content_item' | strip -%}
				{%- assign metaKey = request.path | split: '/tagged/' | last | prepend: 'blog-' | strip -%}
				{%- assign metaobject = shop.metaobjects[metaNamespace][metaKey] -%}
			  {%- endif -%}
			  
              {%- for article in blog.articles -%}
				{%- if disruptorTilePositions contains parentForLoopIndexString -%}
					{%- for disruptorTilePosition in disruptorTilePositions -%}
						{%- if disruptorTilePosition == parentForLoopIndexString -%}
							{%- assign disruptorBlock = section.blocks[forloop.index0] -%}
							{%- break -%}
						{%- endif -%}
					{%- endfor -%}
				
	  				{%- if disruptorBlock != blank -%}
					
						{%- if disruptorBlock.settings.replace_content and request.path contains '/tagged/' and metaobject.system.id != blank -%}
							{%- capture disruptorBlockContent -%}
		  						{%- render 'content-item', metaobject: metaobject, forloop: forloop.index, phoneWidth: phoneWidth, tabletWidth: tabletWidth, deskWidth: deskWidth, layout: 'mediaFirst', include_no_media_border: disruptorBlock.settings.include_no_media_border -%}
							{%- endcapture -%}
							{%- if disruptorBlockContent != blank -%}
								{{ disruptorBlockContent }}
								{%- assign parentForLoopIndex = parentForLoopIndex | plus: 1 -%}
								{%- assign parentForLoopIndexString = parentForLoopIndex | append: '' | strip -%}
							{%- endif -%}
						{%- else -%}
							{%- capture disruptorBlockContent -%}
		  						{%- render 'content-item', block: disruptorBlock, forloop: forloop.index, phoneWidth: phoneWidth, tabletWidth: tabletWidth, deskWidth: deskWidth, layout: 'mediaFirst', include_no_media_border: disruptorBlock.settings.include_no_media_border -%}
							{%- endcapture -%}
							{%- if disruptorBlockContent != blank -%}
								{{ disruptorBlockContent }}
								{%- assign parentForLoopIndex = parentForLoopIndex | plus: 1 -%}
								{%- assign parentForLoopIndexString = parentForLoopIndex | append: '' | strip -%}
							{%- endif -%}
						{%- endif -%}
	  				{%- endif -%}
				{%- endif -%}
			
				{%- if parentForLoopIndex == 13 and blogBanner != blank -%}
		            {{ blogBanner }}
				{%- endif -%}
				
                <div class="Grid__Cell 1/{{ mobile_items_per_row }}--phone 1/{{ tablet_items_per_row }}--tablet-and-up 1/{{ desktop_items_per_row }}--desk-and-up">
                  {%- render 'article-item', article: article, hide_category_mobile: true -%}
				  {%- assign parentForLoopIndex = parentForLoopIndex | plus: 1 -%}
				  {%- assign parentForLoopIndexString = parentForLoopIndex | append: '' | strip -%}
                </div>
              {%- endfor -%}
            </div>
          </div>

          {%- render 'pagination', paginate: paginate -%}
        {%- endpaginate -%}
      </div>
    </div>
  {%- endif -%}
</div>

<style>
  #section-{{ section.id }} .ImageHero,
  #section-{{ section.id }} .ImageHero .Heading {
    color: #ffffff;
  }

  #section-{{ section.id }} .ImageHero .Button {
    color: #1c1c1c;
    border-color: #ffffff;
  }

  #section-{{ section.id }} .ImageHero .Button::before {
    background-color: #ffffff;
  }
</style>

{% schema %}
{
  "name": "Blog page",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tag filters",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_metafield_tags",
      "label": "Show metafield filters",
      "default": false
    },
    {
      "type": "text",
      "id": "disruptor_tile_positions",
      "label": "Disrupter tile positions",
	  "default": "10,22"
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_exerpt",
      "label": "Show article exerpt",
      "default": false
    }
  ],
  "blocks": [
	{
      "type": "disruptor",
      "name": "Disrupter tile",
      "settings": [
        {
          "type": "checkbox",
          "id": "replace_content",
          "label": "Replace content with tagged info.",
          "default": false
        },
		{
	      "type": "header",
	      "content": "Video"
	    },
	    {
	      "type": "paragraph",
	      "content": "Video takes precedence over images."
	    },
		{
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay video",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "loop",
          "label": "Loop video",
          "default": true,
		  "info": "If unchecked, titles will appear at the end of the video."
        },
	    {
	      "type": "header",
	      "content": "Image"
	    },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "1800 x 800px .jpg recommended"
        },
	    {
	      "type": "header",
	      "content": "General settings"
	    },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background colour",
          "default": "#fff"
        },
        {
          "type": "checkbox",
          "id": "apply_overlay",
          "label": "Apply overlay on image",
          "info": "This can improve text visibility.",
          "default": false
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "topLeft",
              "label": "Top left"
            },
            {
              "value": "topRight",
              "label": "Top right"
            },
            {
              "value": "topCenter",
              "label": "Top center"
            },
            {
              "value": "middleLeft",
              "label": "Middle left"
            },
            {
              "value": "middleRight",
              "label": "Middle right"
            },
            {
              "value": "middleCenter",
              "label": "Middle center"
            },
            {
              "value": "bottomLeft",
              "label": "Bottom left"
            },
            {
              "value": "bottomRight",
              "label": "Bottom right"
            },
            {
              "value": "bottomCenter",
              "label": "Bottom center"
            },
            {
              "value": "underLeft",
              "label": "Under left"
            },
            {
              "value": "underRight",
              "label": "Under right"
            },
            {
              "value": "underCenter",
              "label": "Under center"
            }
          ],
          "default": "underLeft"
        },
	    {
	      "type": "header",
	      "content": "Text"
	    },
	    {
	      "type": "image_picker",
	      "id": "logo_image",
	      "label": "Title image",
	      "info": "1800 x 800px .jpg recommended"
	    },
        {
          "type": "richtext",
          "id": "subheading",
          "label": "Sub-heading",
          "default": "<p>Sub-heading</p>"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Heading",
          "default": "<p>Heading</p>"
        },
	    {
	      "type": "richtext",
	      "id": "description",
	      "label": "Description"
	    },
	    {
	      "type": "richtext",
	      "id": "description_mobile",
	      "label": "Description - mobile"
	    },
	    {
	      "type": "header",
	      "content": "Text Settings"
	    },
		{
	      "type": "select",
	      "id": "colour_style",
	      "label": "Colour style",
	      "options": [
	        {
	          "value": "light",
	          "label": "Light"
	        },
	        {
	          "value": "dark",
	          "label": "Dark"
	        }
	      ],
	      "default": "dark",
		  "info": "Sets the text and button colour."
	    },
	    {
	      "type": "header",
	      "content": "Button 1"
	    },
	    {
	      "type": "text",
	      "id": "button_1_text",
	      "label": "Text"
	    },
	    {
	      "type": "url",
	      "id": "button_1_link",
	      "label": "Link"
	    },
	    {
	      "type": "header",
	      "content": "Button Settings"
	    },
	    {
	      "type": "select",
	      "id": "button_style",
	      "label": "Button style",
	      "options": [
	        {
	          "value": "underline",
	          "label": "Text underline"
	        },
	        {
	          "value": "secondary",
	          "label": "Secondary Button"
	        },
	        {
	          "value": "primary",
	          "label": "Primary Button"
	        }
	      ],
	      "default": "underline",
		  "info": "Sets the style for the button."
	    },
	    {
	      "type": "header",
	      "content": "Metaobject Fields (Advanced)"
	    },
        {
          "type": "text",
          "id": "metaobject_autoplay",
          "label": "Autoplay video"
        },
        {
          "type": "text",
          "id": "metaobject_loop",
          "label": "Loop video"
        },
        {
          "type": "text",
          "id": "metaobject_apply_overlay",
          "label": "Apply overlay on image"
        },
        {
          "type": "text",
          "id": "metaobject_content_position",
          "label": "Content position"
        },
        {
          "type": "text",
	      "id": "metaobject_colour_style",
	      "label": "Colour style"
        },
        {
          "type": "text",
	      "id": "metaobject_button_style",
	      "label": "Button style"
        },
        {
          "type": "checkbox",
          "id": "include_no_media_border",
          "label": "Apply border to tile when no media is set",
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}